<h1>Contact</h1>
<h3>Get in Touch</h3>

Thanks for visiting my blog! If you have any offers, questions, comments, or just want to say hello, I'd love to hear from you. 

<h3>Contact Information</h3>

<p>
    <span>
        <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" alt="Gmail" style="width: 16px; height: 16px;">
      </span> Email: danielhakobyan460@gmail.com
</p>

    <span style="font-size: 16px; font-weight: bold; color: #0077B5;">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        LinkedIn
      </span>: <a href="https://www.linkedin.com/in/daniel-hakobyan-7878272bb">https://www.linkedin.com/in/daniel-hakobyan-7878272bb</a>

<p>
    <span style="font-size: 16px; font-weight: bold; color: #333;">
        <i class="fa fa-github" aria-hidden="true"></i>
        GitHub
      </span>: <a href="https://github.com/DanielHakobyan">https://github.com/DanielHakobyan</a>
</p>